<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Info</title>
</head>

<body>
    <h1>Ze book info table</h1>
    <table>
        <thead>
            <tr>
                <td>Book Title</td>
                <td>Author Name</td>
                <td>Category</td>
                <td>Publisher Name</td>
                <td>Book Price</td>
            </tr>
        </thead>
        <tbody>
            <% for (let book of books) { %>
            <tr>
                <% for (let field in book) { %>
                <td><%= book[field] %>
                </td>
                <%}%>
            </tr>
            <%}%>
        </tbody>
    </table>

</body>

</html>