body {
    display: flex;
    justify-content: center;
}

img.featured {
    height: 400px;
    width: 800px;
}

img.arrow {
    transform: scale(1.5, 1.5);
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    height: fit-content;
}

img.reverse {
    transform: scale(1.5, 1.5) rotate(180deg);
}

img.inactive {
    -webkit-filter: brightness(170%); /* Safari 6.0 - 9.0 */
    filter: brightess(170%);
    cursor: default;
}

img.thumbnail {
    border: 5px solid white;
    box-shadow: 0 3px 10px;
    height: 50px;
    width: 50px;
    margin: 3px;
}

img.thumbnail:hover {
cursor: pointer;
}

img.selected {
    transform: translate(0, -10px)
}

div.container {
    width: 1000px;
    height: 600px;
    margin-top: 5%;
    background-image: linear-gradient(to right, #c3c3c3, #fff, #c3c3c3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.slider {
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px;
}

div.picturebox {
    display: inline-block;
    position: relative;
    font-family: 'Beth Ellen', cursive;
}

div.picturebox:hover {
    cursor: pointer;
}

div.textbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

div.arrowbox {
    display: flex;
    height: 100%;
    background-color: white;
    align-items: center;
}

div.thumbnails {
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    max-width: 800px;
}

h4 {
    margin: 10px;
}

p {
    margin: 10px;
}