body {
    display: flex;
    justify-content: center;
}

img.featured {
    height: 400px;
    width: 800px;
}

img.arrow {
    transform: scale(1.5, 1.5);
    margin: 20px;
}

img.reverse {
    transform: scale(1.5, 1.5) rotate(180deg);
}

img.thumbnail {
    border: 5px solid white;
    box-shadow: 0 3px 10px;
    height: 50px;
    width: 50px;
    margin: 3px;
    margin-top: 10px;
}

div.container {
    width: 70%;
    height: 600px;
    margin-top: 5%;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.slider {
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px;
}

div.arrowbox {
    display: flex;
    height: 100%;
    background-color: white;
    align-content: center;
}

div.thumbnails {
    justify-content: center;
}