* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 48, 96);
}

main {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.6);
    padding: 1rem 4%;
    margin: 1rem 15%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    width: 80%;
    max-width: 150px;
}

button:hover {
    cursor: pointer;
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

.blue {
    background-color: rgb(68, 98, 162);
    box-shadow: 0 0.2rem 0 rgb(38, 57, 109), 0 -0.1rem 0 rgb(85, 119, 191);
}

.green {
    background-color: rgb(26, 168, 86);
    box-shadow: 0 0.2rem 0 rgb(22, 106, 68), 0 -0.1rem 0 rgb(85, 211, 139);
}

.red {
    background-color: rgb(211, 66, 50);
    box-shadow: 0 0.2rem 0 rgb(134, 43, 47), 0 -0.1rem 0 rgb(220, 100, 83);
}

.light {
    background-color: rgb(0, 174, 237);
    box-shadow: 0 0.2rem 0 rgb(12, 106, 160), 0 -0.1rem 0 rgb(37, 196, 248);
}

.black {
    background-color: rgb(40, 42, 43);
    box-shadow: 0 0.2rem 0 rgb(30, 31, 46), 0 -0.1rem 0 rgb(55, 57, 57);
}

.white {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(238, 241, 249);
    box-shadow: 0 0.2rem 0 rgb(153, 159, 179), 0 -0.1rem 0 rgb(254, 254, 255);
}