<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Todos</title>
</head>

<body>
    <h1>Things to do today:</h1>
    <ol>
        <% for (let todo of todos){ %>
        <li> <%= todo %></li>
        <% } %>
    </ol>

</body>

</html>