* {
    border-radius: 0.8rem;
    font-family: sans-serif;
}

select {
    border-style: none;
    margin: 1rem;
}

div {
    box-shadow: 20px 20px teal;
    width: 80%;
    margin: auto;
    background-color: azure;
}

span {
    color: teal;
}

h1, p {
    padding: 1rem;
}

body {
    background-color: darkgray;
}