* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 56, 65);
    color: rgb(210,211,213);
}

main {
    width: 30%;
}

div {
    margin: 5rem 0;
    position: relative;
}

button {
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: rgb(28,36,43);
    height: 3rem;
    width: 3rem;
}

span {
    background-color: rgb(28,36,43);
    display: inline-block;
    height: 2.7rem;
    width: 15rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 0.3rem;
    visibility: hidden;
}

i {
    color: rgb(210,211,213);
}

button[data-action="delete"] > i {
    color: rgb(243, 69, 65);
}

button[data-action="confirm"] > i {
    color: rgb(56, 186, 125);
}

button[data-action="delete"] + span {
    background-color: rgb(243, 69, 65);
}

button[data-action="confirm"] + span {
    background-color: rgb(56, 186, 125);
}

button[data-action]:hover + span {
    visibility: visible;
}

@media screen and (max-width: 500px) {
    main {
        width: 75%;
    }
}