* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

img {
    height: 10px;
}

span div {
    display: inline-block;
    outline: none;
}

.arrow.back {
    transform: rotate(180deg);
}

.noUi-base {
    width: 30%;
    height: 50%;
}

.noUi-connects {
    position: static;
}

.noUi-connect {
    background-image: linear-gradient(to right, #3FB8AF, #00FFFF)
}