<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="nouislider.css">
    <link rel="stylesheet" href="style.css">
    <title>Music Player Thing</title>
</head>

<body>

    <div class="playlists">
        <figure class="foxplayer">
            <img src="foxplayer.png" alt="#">
        </figure>
        <figure class="playing">
            <img src="music-placeholder.png" alt="#">
        </figure>
        <header>
            <h3>Playlists</h3>
            <img class="addplaylist" src="add.svg" alt="#">
        </header>
        <ul>
            <li>All tracks</li>
            <li>Favorites</li>
        </ul>
    </div>
    <div class="currentlist">
        <table>
            <thead>
                <tr>
                    <td>
                        <p class="title"></p>
                        <p class="artist"></p>
                    </td>
                    <td>
                        <img class="addtrack" src="add.svg" alt="#">
                        <img class="star" src="stargray.svg" alt="#">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test Song</td>
                    <td>3.30</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test Song</td>
                    <td>3.30</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test Song</td>
                    <td>3.30</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Test Song</td>
                    <td>3.30</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <figure>
            <audio src="Doctor_Turtle_-_04_-_Doctor_Talos_Answers_The_Door.mp3" preload="metadata">
                Your browser does not support the
                <code>audio</code> element.</audio>
            <img src="forward.svg" alt="#" class="arrow back">
            <img src="play.svg" alt="#" class="playpause">
            <img src="forward.svg" alt="#" class="arrow forward">
            <span class="remaining"></span>
            <span class="progress slider"></span>
            <span class="duration"></span>
            <img src="shuffle.svg" alt="#" class="shuffle">
            <img src="volume.svg" alt="#" class="volume">
            <span class="volume slider"></span>
        </figure>
    </footer>

    <script src="nouislider.js"></script>
    <script src="loadview.js"></script>
    <script src="audiocontrols.js"></script>
    <script src="crudbuttons.js"></script>
</body>

</html>